[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/pdf;
Icon=printer
Actions=printPDF;
X-KDE-StartupNotify=false
X-KDE-Priority=TopLevel

[Desktop Action printPDF]
Name=Print PDFs
Icon=printer
Exec=/usr/local/bin/print_pdf.sh %F
