[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/pdf;
Actions=printPDF;
X-KDE-Priority=TopLevel

[Desktop Action printPDF]
Name=Print PDF with Options
Exec=/usr/local/bin/print_pdf.sh %F
Icon=printer
